## Estruturas de Dados em Pandas

pandas.Series() - 1 Dimensão  - 1D

pandas.DataFrame() - 2 Dimensões - 2D

pandas.Panel() - 3 Dimensões - 3D

numpy.ndarray() - x Dimensões

### Panel

In [15]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [16]:
data = np.random.randint(1, 10, (5, 3, 2))

In [21]:
data

array([[[2, 4],
        [7, 6],
        [8, 7]],

       [[7, 4],
        [4, 8],
        [7, 9]],

       [[3, 1],
        [6, 3],
        [5, 6]],

       [[1, 9],
        [9, 1],
        [3, 7]],

       [[2, 7],
        [7, 6],
        [9, 8]]])

In [22]:
data = data.reshape(5, 6).T

In [23]:
data

array([[2, 7, 3, 1, 2],
       [4, 4, 1, 9, 7],
       [7, 4, 6, 9, 7],
       [6, 8, 3, 1, 6],
       [8, 7, 5, 3, 9],
       [7, 9, 6, 7, 8]])

In [25]:
df = pd.DataFrame(
    data = data,
    index = pd.MultiIndex.from_product([[2015, 2016, 2017], ['US', 'UK']]),
    columns = ['item {}'.format(i) for i in range(1, 6)])

In [26]:
df

         item 1  item 2  item 3  item 4  item 5
2015 US       2       7       3       1       2
     UK       4       4       1       9       7
2016 US       7       4       6       9       7
     UK       6       8       3       1       6
2017 US       8       7       5       3       9
     UK       7       9       6       7       8

### Criando objetos multidimensionais com Panel

In [27]:
USData = pd.DataFrame(np.array([[249.62, 8900],
                               [282.16, 12680],
                               [309.35, 14940]]),
                     columns = ['População(M)', 'PIB($B)'],
                     index = [1995, 2005, 2015])

In [28]:
USData

      População(M)  PIB($B)
1995        249.62   8900.0
2005        282.16  12680.0
2015        309.35  14940.0

In [29]:
ChinaData = pd.DataFrame(np.array([[1133.68, 390.28],
                                 [1266.83,1198.48],
                                 [1339.72, 9923.47]]),
                       columns=['População(M)','PIB($B)'],
                       index=[1995,2005,2015])

In [30]:
ChinaData

      População(M)  PIB($B)
1995       1133.68   390.28
2005       1266.83  1198.48
2015       1339.72  9923.47

In [31]:
US_ChinaData = {'US': USData,
               'China': ChinaData}

In [32]:
US_ChinaData

{'US':       População(M)  PIB($B)
 1995        249.62   8900.0
 2005        282.16  12680.0
 2015        309.35  14940.0, 'China':       População(M)  PIB($B)
 1995       1133.68   390.28
 2005       1266.83  1198.48
 2015       1339.72  9923.47}

In [34]:
pd.Panel(US_ChinaData)

TypeError: Panel() takes no arguments

In [35]:
type(pd.Panel(US_ChinaData))

TypeError: Panel() takes no arguments

## Convertendo DataFrame para Panel

In [37]:
mIdx = pd.MultiIndex(levels = [['US', 'China'], [1995,2005, 2015]],
                     labels = [[1,1,1,0,0,0], [0,1,2,0,1,2]])

TypeError: __new__() got an unexpected keyword argument 'labels'

In [38]:
mIdx

NameError: name 'mIdx' is not defined