### Pandas - Series

In [1]:
import sys
import pandas as pd
import numpy as np

print(sys.version)

pd.__version__

# Se precisar instalar uma versão específica do Pandas, use:
# !pip uninstall pandas
# !pip install pandas == 0.23.4

3.7.6 (default, Jan  8 2020, 13:42:34)
[Clang 4.0.1 (tags/RELEASE_401/final)]

'1.0.1'

### Operações com Series

In [2]:
serie1 = pd.Series(np.arange(26))

In [3]:
serie1

# indice | dados na coluna

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

In [5]:
serie1.index

RangeIndex(start=0, stop=26, step=1)

In [6]:
import string

In [7]:
# Retorna todas as letras do alfabeto

# minusculas
lcase = string.ascii_lowercase

# MAIUSCULAS
ucase = string.ascii_uppercase

print(lcase)
print(ucase)

abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [18]:
# Convertendo em lista
lcase = list(lcase)
ucase = list(ucase)

print(lcase)
print(ucase)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [14]:
# Alterando o index da Series
serie1.index = lcase

In [15]:
serie1

a     0
b     1
c     2
d     3
e     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [16]:
serie1['f':'r']

f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
dtype: int64

In [17]:
serie1['f']

5

### Aplicando funções em Series

In [19]:
import matplotlib.pyplot as plt

# Para criar os gráficos dento do Jupyter Notebook
%matplotlib inline

In [20]:
np.random.seed(784)

In [21]:
array1 = np.random.randint(1, 30, 40)

In [22]:
array1

array([22, 10,  5,  7, 24, 22, 10, 21, 11, 16, 23, 13, 17,  6, 24,  1,  5,
       17, 15, 15, 25,  6,  2, 16,  3, 14, 24, 29, 25, 24, 12,  8,  5,  3,
       29, 14,  1, 10, 19, 28])

In [23]:
dados = pd.Series(array1)

In [24]:
dados

0     22
1     10
2      5
3      7
4     24
5     22
6     10
7     21
8     11
9     16
10    23
11    13
12    17
13     6
14    24
15     1
16     5
17    17
18    15
19    15
20    25
21     6
22     2
23    16
24     3
25    14
26    24
27    29
28    25
29    24
30    12
31     8
32     5
33     3
34    29
35    14
36     1
37    10
38    19
39    28
dtype: int64

In [25]:
# Especificando o tipo do dado
dados = pd.Series(array1, dtype = np.float16)

In [26]:
dados

0     22.0
1     10.0
2      5.0
3      7.0
4     24.0
5     22.0
6     10.0
7     21.0
8     11.0
9     16.0
10    23.0
11    13.0
12    17.0
13     6.0
14    24.0
15     1.0
16     5.0
17    17.0
18    15.0
19    15.0
20    25.0
21     6.0
22     2.0
23    16.0
24     3.0
25    14.0
26    24.0
27    29.0
28    25.0
29    24.0
30    12.0
31     8.0
32     5.0
33     3.0
34    29.0
35    14.0
36     1.0
37    10.0
38    19.0
39    28.0
dtype: float16

In [27]:
# Média
dados.mean()

14.52

In [28]:
# Mediana
dados.median()

14.5

In [29]:
# Moda
dados.mode()

0    24.0
dtype: float16

In [30]:
# Verificando valores únicos, ou seja, que não se repetem
dados.unique()

array([22., 10.,  5.,  7., 24., 21., 11., 16., 23., 13., 17.,  6.,  1.,
       15., 25.,  2.,  3., 14., 29., 12.,  8., 19., 28.], dtype=float16)

In [32]:
# Contar os valores, ou seja, quantas vezes cada número aparece
dados.value_counts()

24.0    4
10.0    3
5.0     3
6.0     2
15.0    2
16.0    2
17.0    2
1.0     2
22.0    2
25.0    2
3.0     2
14.0    2
29.0    2
2.0     1
19.0    1
13.0    1
23.0    1
11.0    1
21.0    1
7.0     1
12.0    1
8.0     1
28.0    1
dtype: int64